<html>

<head>
    <title>
        <%=locals.title %>
    </title>
</head>

<body>
    <h1>
        contact lists
    </h1>
    <div>
        <ul>
            <% for(let i of contact_lists ){%>
                <li>
                    <p>
                        <%=i.phone%>
                    </p>
                    <p>
                        <%=i.phone%>
                    </p>
                </li>
                <%}%>
        </ul>

    </div>
    <form action="" method="post">
        <input type="text" name="name" value="name" placeholder="enter the name">

        <input type="number" name="phone" value="phone" placeholder="enter the phone">
        <button type="submit">add contact</button>
    </form>
</body>

</html>